body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0px;
  overflow: auto;
}
/* .main {
  width: 100%;
  margin: 0px auto;
} */
/* navigation */
.carousel-item {
  padding-top: 63px;
  height: auto;
  min-height: 380px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* .carousel-caption {
  bottom: 270px;
} */

/* .carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
} */

/* .carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
} */
.navbar{
  background-color: rgba(0, 0, 0, 0.904);
}
.navbar .navbar-brand {
  color: #fff;
  font-size: 25px;
  /* text-transform: uppercase; */
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar .navbar-nav .active > .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .show > .nav-link {
  color: #fff;
 
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  /* background: rgb(87, 160, 228); */
  background: white;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color:  rgb(24, 40, 65);
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}
.navbar-toggler-icon{
  color: rgb(54, 88, 143);
  font-size: 30px;
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  color:   rgb(54, 88, 143) !important;
}
.navbar .navbar-brand:hover{
    color: rgb(54, 88, 143) !important;
}
/* collection */
.middl{
  padding: 33px 0px 0px 0px;
}
.wrapper{
  width: 1200px;
    margin: 0px auto;
}
.no_margin{
  margin: 0px !important;
}
.no_padding{
  padding: 0px !important;
}
.heading_main {
  text-align: center;
}
.heading {
  font-family: "agfarotissansserif";
  font-size: 50px;
  color: rgb(54, 88, 143);
  padding: 22px 0px;
  margin: 0px;
}
.our_coll_prod {
  padding: 0px;
}
/* .green_bg {
  background-color: rgb(54, 88, 143);
} */
.detailbox{
    padding: 55px 0 60px 55px;
    height: auto;
    /* background-color:white; */
}
.detail_title {
  padding-top:50px ;
  color: rgb(54, 88, 143);
  font-family: "Painted";
  font-size: 69px;
  line-height: 60px;
  margin: 0;
}
p.detail_text {
  /* background: url(../images/detail_right_img.png) no-repeat scroll right top rgba(0, 0, 0, 0); */
  color: rgb(54, 88, 143) !important;
  font-size: 21px;
  height: auto;
  line-height: 35px;
  margin-right: 95px;
  padding: 15px 43px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.view_btn a {
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  padding: 11px 16px;
  text-decoration: none;
}
.view_btn :hover{
  color: rgb(54, 88, 143) !important;
  font-weight: bold;

}
.detailimg{
    width: 100%;
    height: 650px;
    background-size: cover !important;  
    text-align: center;     
}
.detailimg img{
  vertical-align: middle;
    border-style: none;
}
@media (min-width: 1200px){
.col-lg-6 {
    width: 50%;
}}
@media(max-width: 724px) and (min-width: 420px){
  .wrapper{
    width: 100%;
  }
  .heading {
    font-size: 45px;
    padding: 15px 0;
    margin: 0px;
}
.carousel-item{padding-top:70px;}
} 
@media (max-width: 1215px){.wrapper{padding: 0 15px;}}
.col-xs-12{width: 100%;}
@media (max-width: 767px)
{
  .middl{padding:0px !important;}
  .detail_title {
  font-size: 48px;
}}
@media (max-width: 420px){
  .middl{padding:0px !important;}
  .wrapper{width: 100%;padding: 0;}
  .detailbox {width: 100%;}
  .detailimg{width: 100%;background-size: cover;}
  .heading{padding-top: 0px;}
}
/* meet us */
#contact{
  background:white;
  padding-top: 40px;
  padding-bottom: 40px;
  color:rgb(54, 88, 143);  
}
#contact h1{
  text-align: center;
  font-size: 40px;
}
#contact-form input,
#contact-form textarea {
    height: 50px;
    margin-bottom: 10px;
    border-radius: 0;
}

#contact-form label {
    display: block;
    margin-bottom: .2em;
    font-size: 13px;
    line-height: 13px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #000;
}

#contact-form label.error {
    margin-top: 10px;
    margin-bottom: 1em;
    font-size: 12px;
    line-height: 12px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #D33E43;
    margin-left: 10px
}

#contact-form input[type="text"].error,
#contact-form input[type="password"].error,
#contact-form input[type="date"].error,
#contact-form input[type="datetime"].error,
#contact-form input[type="datetime-local"].error,
#contact-form input[type="month"].error,
#contact-form input[type="week"].error,
#contact-form input[type="email"].error,
#contact-form input[type="number"].error,
#contact-form input[type="search"].error,
#contact-form input[type="tel"].error,
#contact-form input[type="time"].error,
#contact-form input[type="url"].error,
#contact-form textarea.error {
    border-color: #D33E43
}

textarea {
    resize: none;
}

fieldset {
    border: 0px;
    margin: 0;
    padding: 0
}

.required {
    color: #e9266d
}

#success,
#error {
    display: none
}

#success p,
#error p {
    display: block;
}

#success p {
    color: rgb(54, 88, 143);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #425BB5;
    margin-top: 10px;
}

#error p {
    color: #D33E43;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border: 2px solid #D33E43;
    margin-top: 10px;
}

#submit {
    background-color: rgb(54, 88, 143);
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    width: 100%;
}
.follow{
  background: #fff;
  margin:15px;
  padding: 10px;
}
.contact-info .fa{
margin: 10px;
color:rgb(54, 88, 143);
font-weight: bold;
}
/* products */
#products{
  padding: 80px;
}
#products h1{font-size: 40px;color: #777; text-align: center;padding: 50px;}
.product-grid{font-family:Raleway,sans-serif;text-align:center;margin-top:20px ; padding:0 0 135px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
.product-grid .product-image img{width:100%;height:auto}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
.product-grid:hover .pic-1{opacity:1}
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
.product-grid:hover .pic-2{opacity:1}
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}
.gallery-title
{
    font-size: 36px;
    color:rgb(54, 88, 143);  
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    padding-top: 50px;
}
.gallery-title:after {
    /* content: ""; */
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid black ! ;
    border-radius: 5px;
    text-align: center;
    color: grey;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid grey !important;
    border-radius: 5px;
    text-align: center;
    color:rgb(54, 88, 143) !important;
    background-color:black;

}
.btn-default:active .filter-button:active
{
    background-color: black;
    color:rgb(54, 88, 143);  
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
.figure-caption{
  text-align: center;
  color:rgb(54, 88, 143) !important;  
  /* background-color: black; */
  font-size: 20px !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: block;

}

/* 
footer */
body {
  font-family: 'Signika', sans-serif;
}
.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
      color: rgb(255, 255, 255);
}
footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: rgb(255, 255, 255);
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
           color: rgb(255, 255, 255);
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 13px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {           
text-decoration: none;
color: rgb(54, 88, 143) ;
        
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: #ffffff !important;
font-size: 22px;
padding: 10px 15px;
background: rgb(54, 88, 143) !important ;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: rgb(255, 255, 255);
text-decoration:none;
}
a:hover {
text-decoration: none;
color:  rgb(54, 88, 143);
}
.logo-part {
/* border-right: 1px solid rgb(255, 255, 255); */
height: 100%;
}